*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 15%;
  line-height: 40px;
  font-weight: bold;
  
}
header h1{
  font-size: 2.5rem;
}
header p{
  margin-bottom: 40px;
  color: #cbcbcb;
}

header .logo{
  margin-bottom: 40px;
}
.F-sectionHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 15%;
  color: #cbcbcb;
  font-weight: 700;
  
}

.F-section-headerFilters{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  color: red;
}

.F-section-headerFilters-toggle{
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2%;
  border-radius: 50px;
  width: 60%;
  color: #fa9898;
  background-color: #fdecec;
  gap: 50px;
}
.search input{
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: red;
  outline: none;
}
.search input::placeholder{
  color: #fa9898;
  font-weight: bold;
}